.glow h4 {
  font-size: 15px;

}

}
/* Create two equal columns that floats next to each other */
#cl-2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
#cl-3 {
  float: left;
  width: 30%;
  padding: 10px;
  margin-left: 25px;
  height: 300px; /* Should be removed. Only for demonstration */
}
#cl-4 {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
#cl-5 {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
#cl-t1 {
  float: left;
  width: 20%;
  padding: 20px;
  height: 80px; /* Should be removed. Only for demonstration */
}
#cl-t2 {
  float: left;
  width: 80%;
  height: 80px; /* Should be removed. Only for demonstration */
}
#cl-t2 h4 {
   text-align: center;
   font-size: 40px; 
   font-family: cursive; 
   padding: 10px;
}
/* Clear floats after the columns */
#rw:after {
  content: "";
  display: table;
  clear: both;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}
 #wind1 {
          position: fixed;
          bottom: 85%;
          left:80%;
          border-radius: 50%;
    }
 
  #wind2 {
          position: fixed;
          bottom:85%;
          left:85%;
          border-radius: 50%;
   }
 #wind3 {
          position: fixed;
          bottom:85%;
          left:90%;
          border-radius: 50%;
   }
 #wind3 a {
  border-radius: 50%;
}
@media screen and (max-width: 650px) {
html {
  scroll-behavior: smooth;
}
  #cl-t1 {
  float: left;
  width: 100%;
  padding: 20px;
  height: 40px; /* Should be removed. Only for demonstration */
}
#cl-t2 {
  float: left;
  width: 100%;
  height: 40px; /* Should be removed. Only for demonstration */
}
#cl-t2 h4 {
   text-align: center;
   font-size: 20px; 
   font-family: cursive; 
   padding: 5px;
}
  .glow {
  font-size: 10px;
  color: #fff;
  font-family: cursive;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
   padding-top: 5px;
   padding-bottom: 5px;
}
.col-3 {
   width:100%;
   border-radius: 50%;
}
  .col-2 {
   width:100%;
   border-radius: 50%;
  }
 #wind1 {
          position: fixed;
          bottom: 70%;
          left:80%;
          border-radius: 50%;
    }
 #main {
  transition: margin-left .5s;
  padding: 20px;
}
  #wind2 {
          position: fixed;
          bottom:80%;
          left:80%;
          border-radius: 50%;
   }
 #wind3 {
          position: fixed;
          bottom:90%;
          left:80%;
          border-radius: 50%;
   }
 #wind3 a {
  border-radius: 50%;
}
}
 #boxb {
   border-style: solid; 
   border-color: #0099ff;  
   border-width: 2px; 
   border-radius: 25px; 
   padding: 5px;
   }


