.glow {
  font-size: 10px;
  color: #fff;
  font-family: cursive;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.col-3 {
   width:33.33%;
   border-radius: 50%;
}
.sidenava {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  border-radius: 30px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  
}

/* The navigation menu links */
.sidenava a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  animation-name: fadeIn; 
  animation-duration: 2s;
 
}

/* When you mouse over the navigation links, change their color */
.sidenava a:hover {
  color: orange;
  animation-name: fadeOut; 
  animation-duration: 2s;
}

/* Position and style the close button (top right corner) */
.sidenava .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}
 #wind1 {
          position: fixed;
          bottom: 85%;
          left:80%;
          border-radius: 50%;
    }
 #main {
  transition: margin-left .5s;
  padding: 20px;
}
  #wind2 {
          position: fixed;
          bottom:85%;
          left:85%;
          border-radius: 50%;
   }
 #wind3 {
          position: fixed;
          bottom:85%;
          left:90%;
          border-radius: 50%;
   }
 #wind3 a {
  border-radius: 50%;
}
@media screen and (max-width: 650px) {
html {
  scroll-behavior: smooth;
}
.col-3 {
   width:100%;
   border-radius: 50%;
}
 #wind1 {
          position: fixed;
          bottom: 70%;
          left:80%;
          border-radius: 50%;
    }
 #main {
  transition: margin-left .5s;
  padding: 20px;
}
  #wind2 {
          position: fixed;
          bottom:80%;
          left:80%;
          border-radius: 50%;
   }
 #wind3 {
          position: fixed;
          bottom:90%;
          left:80%;
          border-radius: 50%;
   }
 #wind3 a {
  border-radius: 50%;
}
}
 #boxb {
   border-style: solid; 
   border-color: #0099ff;  
   border-width: 2px; 
   border-radius: 25px; 
   padding: 5px;
   }

.sidenava {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  border-radius: 30px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  
}

/* The navigation menu links */
.sidenava a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  animation-name: fadeInRight; 
  animation-duration: 2s;
 
}

/* When you mouse over the navigation links, change their color */
.sidenava a:hover {
  color: orange;
  animation-name: fadeOutRight; 
  animation-duration: 2s;
}

/* Position and style the close button (top right corner) */
.sidenava .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  .sidenava {padding-top: 15px;}
  .sidenava a {font-size: 18px;}

.imgbtn img {
  width:62px;
  height:62px;
  border-radius: 50%; 
  padding:4px; 
  background-color: #668cff;
 }
.imgbtn:hover img {
  width:72px;
  height:72px;
  background-color: #1aff1a;
}
.imgbtn1 img {
  width:62px;
  height:62px;
  border-radius: 50%; 
  padding:4px; 
  background-color: #1ad1ff;
  animation-name: fadeIn; 
  animation-duration: 5s;
 }
.imgbtn1:hover img {
  width:72px;
  height:72px;
  background-color: #00ffaa;
  animation-name: fadeOut; 
  animation-duration: 2s;
}
.imgbtn2 img {
  width:62px;
  height:62px;
  border-radius: 50%; 
  padding:4px; 
  background-color: #3333ff;
  animation-name: fadeOutUp; 
  animation-duration: 2s;
 }
.imgbtn2:hover img {
  width:72px;
  height:72px;
  background-color: #ffff1a;
  animation-name: fadeOutUp; 
  animation-duration: 2s;
}
.lang {
 background-color: orange;
 border-radius: 15px;
}


