.glow h4 {
  font-size: 100px;
   padding-top: 25px;
   padding-bottom: 150px;
}
.col-3 {
   width:33.33%;
   border-radius: 50%;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}
 #wind1 {
          position: fixed;
          bottom: 85%;
          left:80%;
          border-radius: 50%;
    }
 
  #wind2 {
          position: fixed;
          bottom:85%;
          left:85%;
          border-radius: 50%;
   }
 #wind3 {
          position: fixed;
          bottom:85%;
          left:90%;
          border-radius: 50%;
   }
 #wind3 a {
  border-radius: 50%;
}
@media screen and (max-width: 650px) {
html {
  scroll-behavior: smooth;
}
  .glow {
  font-size: 10px;
  color: #fff;
  font-family: cursive;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
   padding-top: 25px;
   padding-bottom: 25px;
}
.col-3 {
   width:100%;
   border-radius: 50%;
}
 #wind1 {
          position: fixed;
          bottom: 70%;
          left:80%;
          border-radius: 50%;
    }
 #main {
  transition: margin-left .5s;
  padding: 20px;
}
  #wind2 {
          position: fixed;
          bottom:80%;
          left:80%;
          border-radius: 50%;
   }
 #wind3 {
          position: fixed;
          bottom:90%;
          left:80%;
          border-radius: 50%;
   }
 #wind3 a {
  border-radius: 50%;
}
}
 #boxb {
   border-style: solid; 
   border-color: #0099ff;  
   border-width: 2px; 
   border-radius: 25px; 
   padding: 5px;
   }


